/*==============================================================================
Containers
==============================================================================*/

/*==============================================================================
Home
==============================================================================*/

#home {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(0deg, $dodger-blue, $purple);
  & h1, h2 {
    color: $white;
  }
  @media only screen and (orientation: landscape)
    and (max-device-width: 823px) {
    height: 100vw;
  }
}
.flex-grow {
  flex-grow: 1;
}

/*==============================================================================
Services
==============================================================================*/

#services {
  background-color: $white;
  @include mq(large) {
    height: 100vh;
    background: url(../../images/computer.jpg) no-repeat center/cover;
  }
  & .container {
    margin: 0 20px;
    @include mq(medium) {
      margin: 0 80px;
    }
    @include mq(large) {
      margin: 0 160px;
    }
  }
  & .section-header {
    margin: 0 auto;
    @include mq(medium) {
      width: 500px;
    }
  }
  & .section-header p {
    margin-bottom: 60px;
  }
  & .dot {
    @include mq(large) {
      display: none;
    }
  }
  & .skills {
    padding-bottom: 80px;
    margin: 0 auto;
    @include mq(medium) {
      width: 500px;
    }
    @include mq(large) {
      width: 100%;
    }
  }
  & .skill-wrapper {
    text-align: center;
    @include mq(large) {
      float: left;
      width: calc(100% / 3);
      height: 360px;
      padding: 40px;
    }
  }
  & .skill-wrapper:first-child {
    @include mq(large) {
      border: 1px solid $smoke;
      border-radius: 50px 0 0 50px;
      box-shadow: 0 8px 0 0 $smoke;
    }
  }
  & .skill-wrapper:last-child {
    @include mq(large) {
      border: 1px solid $smoke;
      border-radius: 0 50px 50px 0;
      box-shadow: 0 8px 0 0 $smoke;
    }
  }
  & .skill-wrapper:nth-child(2) {
    @include mq(large) {
      border-top: 1px solid $smoke;
      border-bottom: 1px solid $smoke;
      box-shadow: 0 8px 0 0 $smoke;
    }
  }
  & h1 {
    color: $purple;
    padding: 80px 0 20px;
    @include mq(large) {
      padding: 160px 0 20px;
    }
  }
  & h2 {
    display: inline-block;
    color: $purple;
    border-bottom: 3px solid;
    padding: 20px 0;
    margin: 0 auto;
  }
  & p {
    color: $black;
    line-height: 1.5;
    padding-top: 20px;
  }
  .dot {
    text-align: center;
    font-size: 4em;
    margin: 0 auto;
    padding: 0;
  }
}

/*==============================================================================
About
==============================================================================*/

#about {
  background: linear-gradient(0deg, $carrot-orange, $trinidad);
  @include mq(large) {
    height: 100vh;
  }
  & .container {
    margin: 0 20px;
    @include mq(medium) {
      margin: 0 80px;
    }
  }
  & h1 {
    margin: 0;
    padding: 80px 0 40px;
    @include mq(large) {
      padding: 160px 0 40px;
    }
  }
  & p {
    line-height: 1.5;
    margin: 0 auto;
    padding: 40px 0 40px;
    @include mq(medium) {
      width: 500px;
    }
  }
  & h1, p {
    color: $white;
  }
}
#treehouse {
  color: #fff;
  text-decoration: underline;
}
#blogbtn-wrapper {
  text-align: center;
}
#blogbtn, #resumebtn {
  font-family: $font-family--primary;
  background-color: $white;
  color: $black;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 0 5px 80px 5px;
  outline: 0;
}
#blogbtn:hover, #resumebtn:hover {
  background-color: $dodger-blue;
  color: $white;
  transition: background-color .4s ease;
}

/*==============================================================================
Portfolio
==============================================================================*/

#portfolio {
  background-color: $grey;
  & .container {
    position: relative;
    margin: 0 20px;
    @include mq(medium) {
      margin: 0 10px;
    }
  }
  & .section-header {
    margin: 0 auto;
    @include mq(medium) {
      width: 500px;
    }
  }
  & h1 {
    margin: 0;
    padding: 160px 0 20px;
  }
  & p {
    line-height: 1.5;
    margin: 0;
    padding: 20px 0;
  }
  & h1, p {
    color: $white;
  }
}
  /*============================================================================
  Portfolio Filter
  ============================================================================*/
#portfolio-filter {
  @extend %flex-wrap;
  max-width: 500px;
  text-align: center;
  margin: 20px auto 40px;
  padding: 0;
  & a {
    font-family: $font-family--primary;
    background-color: $white;
    color: $black;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    margin: 10px 5px;
    padding: 10px 20px;
  }
  & a:hover {
    background-color: $black;
    color: $white;
    border: none;
    transition: background-color .4s ease;
  }
  .active {
    background-color: $black;
    color: $white;
    border: none;
  }
}

/*==============================================================================
Contact
==============================================================================*/
#contact {
  background-color: $guppie-green;
  padding-bottom: 1px;
  & .container {
    margin: 0 20px;
    @include mq(medium) {
      height: auto;
      margin: 0 80px;
    }
    @include mq(large) {
      height: calc(100vh - 120px);
    }
  }
  & .section-header {
    margin: 0 auto;
    @include mq(medium) {
      width: 500px;
    }
  }
  & h1 {
    margin: 0;
    padding-top: 80px;
    @include mq(large) {
      padding-top: 160px;
    }
  }
  & p:first-child {
    padding: 0;
  }
  & p {
    line-height: 1.5;
    margin: 0;
    padding-bottom: 40px;
    @include mq(large) {
      width: 500px;
      margin: 0 auto;
    }
  }
  & h1 {
    color: $black;
    padding-bottom: 40px;
  }
}
#copyright span {
  font-size: 1em;
}
