/*==============================================================================
Images
==============================================================================*/

#imac-img {
  position: absolute;
  width: 300px;
  z-index: 1;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  @include mq(small) {
    width: 350px;
  }
  @include mq(medium) {
    width: 500px;
  }
  @include mq(large) {
    width: 600px;
  }
}

.slider img {
  width: 300px;
  margin: 0 auto;
  padding-top: 10px;
  @include mq(small) {
    width: 340px;
    padding-top: 12px;
  }
  @include mq(medium) {
    width: 490px;
    padding-top: 18px;
  }
  @include mq(large) {
    width: 590px;
    padding-top: 22px;
  }
}

#profile-img {
  display: block;
  width: 340px;
  height: auto;
  margin: 0 auto;
  border: 8px solid $white;
  border-radius: $br--round;
  @include mq(medium) {
    width: 360px;
    border: 12px solid $white;
  }
}
