/*==============================================================================
Images
==============================================================================*/

#slider-wrapper {
  display: none;
}

#macbook-pro-img {
  position: absolute;
  left: 50%;
  right: 0;
  height: 380px;
  z-index: 2;
  margin-left: -316.914px;
}
#macbook-pro {
  position: relative;
}
#macbook-slider {
  position: absolute;
  left: 50%;
  right: 0;
  top: 30px;
  height: 307px;
  width: auto;
  z-index: 1;
  margin-left: -245.594px;
}
#macbook-slider img {
  height: 307px;
}

#profile-img {
  display: block;
  width: 340px;
  height: auto;
  margin: 0 auto;
  border: 8px solid $white;
  border-radius: $br--round;
  @include mq(medium) {
    width: 360px;
    border: 12px solid $white;
  }
}
