/*==============================================================================
Global Config
==============================================================================*/

// Font stacks
$font-url--google        : "https://fonts.googleapis.com/css?family=Nunito+Sans:800|Open+Sans:300,400";
$font-family--primary    : "Nunito Sans", sans-serif;
$font-family--secondary  : "Open Sans", sans-serif;

// Font weights
$font-weight--thin		: 300;
$font-weight--medium	: 400;
$font-weight--bold		: 800;

// Descriptive base colors
$white         : #fff;
$black         : #1d2026;
$oxford-blue   : #3c415e;
$slate-gray    : #738598;
$iron          : #dfe2e2;
$java          : #1cb3c8;

$dodger-blue   : #1e90ff;
$sherpa-blue   : #004056;
$purple        : #901ef5;
$snowy-mint    : #c9ffd5;
$guppie-green  : #00ff7f;
$emerald       : #00cc66;
$persian-green : #00a693;
$fun-green     : #007f3f;
$trinidad      : #e8460c;
$carrot-orange : #f5901e;
$cream         : #ffffcb;

// Color usage
$color-primary   : $dodger-blue;
$color-shadow    : rgba($dodger-blue, .4);

// Color palette modifiers
$color-palettes: (
  iron: (
  xx-light : lighten($iron, 43%),
  x-light  : lighten($iron, 35%),
  light    : lighten($iron, 12%),
  base     : $iron,
  dark     : darken($iron, 8%),
  x-dark   : darken($iron, 16%)
  ),
  black: (
  light    : lighten($black, 10%),
  base     : $black,
  dark     : darken($black, 10%)
  )
);

// Text
$base__font-size : 16px;
$base__line      : 24px;
$letter-space    : 1px;

// Border radius
$br--default    : .4em;
$br--round      : 50%;

// Transitions
$trns-duration  : .3s;

// Path to assets
$path-images    : "../images";

// Grid
$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1050px;

// Breakpoints
$brkpoint-sm    : 375px;
$brkpoint-md    : 768px;
$brkpoint-lg    : 1545px;
