/*==============================================================================
Extends
==============================================================================*/

// Flexbox 'wrap'

%flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

// Flexbox 'nowrap'

%flex-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

// Clearfix

%clearfix {
  display: table;
  clear: both;
  content: "";
}
