/*==============================================================================
Extends
==============================================================================*/

// Flexbox 'wrap'
%flex-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

// Flexbox 'wrap' justify-content 'flex-start'
%flex-wrap-start {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}

// Flexbox 'nowrap'
%flex-nowrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

// Flexbox 'column'
%flex-center-col {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

// Flexbox 'space-between'
%flex-space-around {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

// Grid 'modal'
%grid-modal {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "header"
    "main";
}

// Clearfix
%clearfix {
  display: table;
  clear: both;
  content: "";
}
