/*==============================================================================
Business Page
==============================================================================*/

/*==============================================================================
Color Palette / Fonts
==============================================================================*/

/*

font-family: 'Saira Extra Condensed', sans-serif;
font-family: 'Montserrat', sans-serif;

*/

/*==============================================================================
Containers
==============================================================================*/

#about {
  margin-top: -477px;
}
.image-container-1 {
  background-image: url(https://www.dropbox.com/s/oqlxaa7o1cb2ess/sashimi.jpg?dl=1);
}
.image-container-2 {
  background-image: url(https://www.dropbox.com/s/f1xedjcwa3ym0bf/sushi.jpg?dl=1);
}
.image-container-3 {
  background-image: url(https://www.dropbox.com/s/6w50vlnth7s1sbr/reservations.jpg?dl=1);
}
.image-container-1, .image-container-2, .image-container-3 {
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.section-header {
  background-color: #fff;
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 0;
}

.section-header-clear {
  background-color: transparent;
  max-width: 600px;
  margin: 0 auto;
  padding: 100px 0;
}

.col-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin: 40px 0;
}
.col-wrapper img {
  width: auto;
  height: 1200px;
}

/*==============================================================================
Main Nav
==============================================================================*/

#main-nav ul {
  background-color: transparent;
  z-index: 100;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  margin: 0 40px;
  padding: 0;
}
#main-nav li {
  padding: 0 40px;
}
#main-nav li:nth-child(-n+2) {
  padding: 0;
}
#space {
  flex-grow: 1;
}

/*==============================================================================
Images
==============================================================================*/

#main-logo {
  width: 200px;
  height: auto;
}

/*==============================================================================
Typography
==============================================================================*/

h1 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 800;
  font-size: 2.5em;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 800;
  font-size: 2.3em;
  text-align: center;
  margin: 0;
}
h2 span {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-weight: 300;
}

#main-nav li {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  text-transform: uppercase;
}

h3 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  text-align: center;
  border-bottom: 2px solid #000;
  margin: 0;
  padding-bottom: 20px;
}

h4 {
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  text-align: center;
}

p {
  font-family: 'Lora', sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  text-align: center;
}
p a {
  font-weight: 700;
  color: #000;
}

/*==============================================================================
Fullscreen Video
==============================================================================*/

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 50%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 1;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}
