/*==============================================================================
Parallax Page
==============================================================================*/

// Containers

.section-container {
  width: 600px;
  margin: 450px auto;
  border: solid 2px #d3d3d3;
}
.section-container-last {
  width: 600px;
  margin: 450px auto 390px auto;
  border: solid 2px #d3d3d3;
}

// Typography

h1 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 700;
  margin: 0 75px;
  padding: 30px 0;
  border-bottom: solid 2px #d3d3d3;
}

h2 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  padding: 30px 0;
  & a {
    color: #a9a9a9;
  }
}

h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: 400;
  margin: 0;
  padding: 60px 0;
}

h1, h2, h3 {
  text-align: center;
}

footer {
  background-color: #000;
}
footer a {
  color: #fff;
}

// Parallax

.lake-container {
  background-attachment: fixed;
}
.lake-container, .coast, .rainforest, .camping {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.lake-container {
  background-image: url(https://www.dropbox.com/s/5conzszf4idk7bp/lake.jpg?dl=1);
}
.coast {
  background-image: url(https://www.dropbox.com/s/uwj3hgt8u3ljpqh/coast.jpg?dl=1);
}
.rainforest {
  background-image: url(https://www.dropbox.com/s/nfau4v8hqna737g/rainforest.jpg?dl=1);
}
.camping {
  background-image: url(https://www.dropbox.com/s/9nt7586p2q7fddr/camping.jpg?dl=1);
}

.bg-eagle {
  height: 200px;
  width: 100%;
  background-image: url(../../images/eagle.png);
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;

  position: absolute;
  top: 5%;
}

.logo {
  height: 650px;
  width: 100%;
  background-image: url(../../images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.fg-salmon {
  width: 400px;
  height: 100%;
  background-image: url(../../images/salmon.png);
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  top: 25%;
  left: 40%;
}

.fg-splash {
  height: 110%;
  width: 100%;
  background-image: url(../../images/splash.png);
  background-position: center;
  background-size: 600px;
  background-repeat: no-repeat;

  position: absolute;
  top: 55%;
  margin-top: -50px;
}
