/*==============================================================================
Resume
==============================================================================*/

/* Icons */
@font-face {
  font-family: 'icomoon';
  src:  url('../../../fonts/icomoon.eot?5f9l19');
  src:  url('../../../fonts/icomoon.eot?5f9l19#iefix') format('embedded-opentype'),
    url('../../../fonts/icomoon.ttf?5f9l19') format('truetype'),
    url('../../../fonts/icomoon.woff?5f9l19') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: none; */
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-right: 5px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mobile2:before {
  content: "\e959";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-mail:before {
  content: "\ea83";
}

html {
  background-color: #000;
}

/* Set Page Size */
.page {
  width: 8.5in;
  min-height: 11in;
  padding: 2cm;
  margin: 1cm auto;
  background: #fff;
}

@page {
  size: letter;
  margin: 0;
}

@media print {
  .page {
    margin: 0;
    min-height: initial;
    background: initial;
  }
}

/* Fonts */
body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
}

h1 {
  font-weight: 400;
  text-align: center;
}

h2 {
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 1.85em;
}

h2 {
  font-size: 1.25em;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 300;
}

.blue {
  color: #1e90ff;
}

.bullet {
  margin: 0 5px;
}

.section {
  padding: 10px 0;
  border-bottom: 2px solid #000;
}
.header {
  margin-bottom: 10px;
}

.skills-sub, .experience-subheading, .education-subheading {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.contact {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-top: 10px;
}

.contact p {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

.skills-sub-left {
  width: 50%;
}

.skills-sub-right {
  width: 50%;
}