/*==============================================================================
Icons
==============================================================================*/

.icons {
  // display: inline-block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.social-links {
  background-color: $guppie-green;
  text-align: center;
  background-color: $black;
  @media (min-width: $brkpoint-lg) {
    text-align: center;
    margin: 0;
    padding: 20px 0 40px;
  }
}

.social-links__icons {
  display: inline-block;
  margin: 20px 10px 0;
}

.socialgithub,
.socialtwitter,
.socialsteam {
  color: $white;
}

.socialgithub,
.socialtwitter,
.socialsteam, {
  height: 2em;
  width: 2em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  padding: 0;
  transition: color 0.4s;
  &:hover {
    @include mq(large) {
      color:$guppie-green;
    }
  }
}

#copyright {
  padding: 10px 0 20px;
  @include mq(large) {
    display: inline-block;
    padding-left: 40px;
  }
}
#copyright-txt {
  color: $white;
  font-family: $font-family--secondary;
  font-weight: $font-weight--medium;
  font-size: 1em;
}
