/*==============================================================================
Icons
==============================================================================*/

.icons {
  display: block;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

.social-links {
  background-color: $guppie-green;
  text-align: center;
  background-color: $black;
  @media (min-width: $brkpoint-lg) {
    text-align: center;
    margin: 0;
    padding: 20px 0 40px;
  }
}

.social-links__icons {
  display: inline-block;
  margin: 20px 10px 0;
}

.social {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  padding: 0;
  transition: color 0.4s, transform 0.4s cubic-bezier(0, 0, 0.17, 1.56);
  &:hover {
    @include mq(large) {
      transform: scale(1.5);
    }
  }
}

.socialgithub,
.socialtwitter,
.socialsteam {
  color: $guppie-green;
  margin: 0 auto;
}

#copyright {
  padding: 10px 0;
  @include mq(large) {
    display: inline-block;
    padding-left: 40px;
  }
}
#copyright-txt {
  color: $guppie-green;
  font-family: $font-family--secondary;
  font-weight: $font-weight--medium;
  font-size: 1em;
}
