/*==============================================================================
Images
==============================================================================*/

#slider-wrapper {
  display: none;
}

#macbook-pro-img {
  position: absolute;
  left: 50%;
  right: 0;
  z-index: 2;
  height: 180px;
  width: auto;
  margin-left: -150.117px;
  @include mq(small) {
    height: 210px;
    margin-left: -175.133px;
  }
  @include mq(medium) {
    height: 380px;
    margin-left: -316.914px;
  }
}
#macbook-pro {
  position: relative;
}
#macbook-slider {
  position: absolute;
  left: 50%;
  right: 0;
  top: 11px;
  height: 148px;
  width: auto;
  z-index: 1;
  margin-left: -114px;
  @include mq(small) {
    top: 13px;
    height: 175px;
    margin-left: -135px;
  }
  @include mq(medium) {
    top: 23px;
    height: 315px;
    margin-left: -244px;
  }
}
#macbook-slider img {
  height: 148px;
  @include mq(small) {
    height: 174px;
  }
  @include mq(medium) {
    height: 315px;
  }
}

#profile-img {
  display: block;
  width: 340px;
  height: auto;
  margin: 0 auto;
  border: 8px solid $white;
  border-radius: $br--round;
  @include mq(medium) {
    width: 360px;
    border: 12px solid $white;
  }
}
