/*==============================================================================
Images
==============================================================================*/

#slider-wrapper {
  position: absolute;
  top: 250px;
  width: 100%;
  @include mq(small) {
    top: 300px;
  }
  @include mq(medium) {
    top: 360px;
  }
}

#macbook-pro-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 180px;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  @include mq(small) {
    height: 210px;
  }
  @include mq(medium) {
    height: 380px;
  }
}

#macbook-slider {
  position: absolute;
  left: 50%;
  right: 0;
  top: 11px;
  height: 148px;
  width: auto;
  z-index: 1;
  overflow: hidden;
  margin-left: -117px;
  @include mq(small) {
    top: 13px;
    height: 175px;
    margin-left: -138px;
  }
  @include mq(medium) {
    top: 23px;
    height: 315px;
    margin-left: -252px;
  }
}
#macbook-slider img {
  height: 148px;
  @include mq(small) {
    height: 174px;
  }
  @include mq(medium) {
    height: 315px;
  }
}

#black-bg {
  background-color: $black;
}

#profile-img {
  display: block;
  width: 340px;
  height: auto;
  margin: 0 auto;
  border-radius: $br--round;
  @include mq(medium) {
    width: 280px;
  }
}

#black-bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#black-bg {
  background-color: $black;
  display: inline-block;
  height: 160px;
  width: 240px;
  z-index: 1;
  margin: 5px auto 0;
  @include mq(small) {
    height: 175px;
    width: 280px;
    margin: 10px auto 0;
  }
  @include mq(medium) {
    height: 315px;
    width: 504px;
    margin: 20px auto 0;
  }
}

#black-bg h1 {
  color: $black;
}