/*==============================================================================
Nav
==============================================================================*/

// Mobile Nav

#main-nav {
  @media (min-width: 768px) {
    display: none;
  }
}
.navbar-fixed-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  & .container {
    display: flex;
    background-color: $white;
    margin: 0 auto;
  }
  & ul {
    display: flex;
    margin: 0 auto;
    padding: 0;
  }
  & .logo-sm {
    border: solid 2px $grey;
    @media (min-width: 768px) {
      display: none;
    }
  }
  & button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: $white;
    text-decoration: none;
    margin: 15px 25px 0 15px;
    padding: 0;
  }
}
.navbar-fixed-top.large {
  box-shadow: none;
}
.navbar-fixed-top.small {
  box-shadow: 0 6px 16px -3px rgba(0,0,0,0.3);
}
.navbar-fixed-top.large,
.navbar-fixed-top.small {
  transition: .6s all;
	-moz-transition: .6s all;
	-webkit-transition: .6s all;
	-o-transition: .6s all;
}
li {
  font-family: $font-family--primary;
  font-size: $base__font-size;
  color: $white;
  text-transform: uppercase;
  margin: 0 auto;
}
#site-nav {
  position: fixed;
  display: none;
  list-style: none;
  z-index: 99;
  background-color: $white;
  width: 100%;
  padding: 0;
}
.nav {
  display: block;
  margin: 0 auto;
  padding: 0;
  box-shadow: 0 6px 16px -3px rgba(0,0,0,0.3);
}
.nav a {
  display: block;
  width: 100%;
  color: $black;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
}
#logo-lg {
  font-family: $font-family--primary;
  font-weight: $font-weight--medium;
  color: $black;
  font-size: 2.5em;
  border: solid 3px $black;
  text-transform: none;
  height: auto;
  margin: 16px 0;
  padding: 5px;
}
#hamburger {
  @media (min-width: 768px) {
    display: none;
  }
}

// Tablet/Desktop Nav

#nav-lg {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: $white;
  margin: 0;
  padding: 0 calc(100% / 7);
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  & li {
    color: $black;
    &:after {
      display: block;
      content: '';
      border-bottom: solid 3px $black;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }
    &:hover:after {
      transform: scaleX(1);
    }
    &:nth-child(3):after {
      border-bottom: none;
    }
  }

  & a {
    font-family: $font-family--primary;
    font-weight: $font-weight--medium;
    color: $black;
    font-size: 1.1em;
    width: 100%;
    padding: 40px 0;
  }
}
.navbar-fixed-top-lg.large {
  box-shadow: none;
}
.navbar-fixed-top-lg.small {
  box-shadow: 0 6px 16px -3px rgba(0,0,0,0.4);
}
.navbar-fixed-top-lg.large,
.navbar-fixed-top-lg.small {
  transition: .6s all;
	-moz-transition: .6s all;
	-webkit-transition: .6s all;
	-o-transition: .6s all;
}
