/*==============================================================================
Typography
==============================================================================*/

#logo {
  font-family: $font-family--primary;
  font-size: 1.4em;
  font-weight: $font-weight--bold;
  color: $black;
  text-align: center;
  padding-left: 15px;
  margin: auto;
  & a:visited {
    color: $black;
  }
  @include mq(medium) {
    display: none;
  }
}

#in {
  font-family: $font-family--primary;
  font-weight: $font-weight--bold;
  font-size: 2em;
  text-align: center;
  padding-top: 150px;
  @include mq(small) {
    font-size: 2.3em;
    padding-top: 180px;
  }
  @include mq(medium) {
    font-size: 3.2em;
    padding-top: 220px;
  }
}

#in-2 {
  font-family: $font-family--secondary;
  font-weight: $font-weight--thin;
  font-size: 1.5em;
  padding-bottom: 38px;
  @include mq(small) {
    font-size: 1.8em;
    padding-bottom: 110px;
  }
  @include mq(medium) {
    font-size: 2.4em;
    padding-bottom: 200px;
  }
}

#txt-col {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: transparent;
  @include mq(medium) {
    display: none;
  }
}

h1 {
  font-family: $font-family--primary;
  font-weight: $font-weight--bold;
  font-size: 2em;
  margin: 0;
  @include mq(medium) {
    font-size: 2.4em;
  }
}

h2 {
  font-family: $font-family--primary;
  font-weight: $font-weight--bold;
  font-size: 1.2em;
  margin: 0;
  padding-bottom: 10px;
}

p {
  font-family: $font-family--secondary;
  font-weight: $font-weight--medium;
  font-size: 1em;
  margin: 0;
}

h1, h2 {
  text-align: center;
}

p {
  text-align: left;
}